<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <li class="has_submenu">
      <span>About Pivotal Spring Cloud Data Flow</span>
      <ul>
        <li>
          <a id='home-nav-link' href="/scdf/1-n/index.html">Spring Cloud Data Flow Docs Home</a>
        </li>

        <li>
          <a href="/scdf/1-n/release-notes.html">Release Notes</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Operator Guide</span>
      <ul>
        <li>
          <a href="/scdf/1-n/installing.html">Installation</a>
        </li>

        <li>
          <a href="/scdf/1-n/tile-configuration.html">Tile Configuration</a>
        </li>

        <li>
          <a href="/scdf/1-n/service-broker-and-instances.html">Broker and Instances</a>
        </li>
      </ul>
    </li>
    <li class="has_submenu">
      <span>Developer Guide</span>
      <ul>
        <li>
          <a href="/scdf/1-n/getting-started.html">Getting Started</a>
        </li>

        <li>
          <a href="/scdf/1-n/managing-service-instances.html">Managing Service Instances</a>
        </li>

        <li>
          <a href="/scdf/1-n/using-user-provided-service-instances.html">Using User-Provided Service Instances</a>
        </li>

        <li>
          <a href="/scdf/1-n/viewing-service-instance-logs.html">Viewing Service Instance Logs</a>
        </li>

        <li>
          <a href="/scdf/1-n/api-access.html">API Access</a>
        </li>

        <li>
          <a href="/scdf/1-n/using-the-dashboard.html">Using the Dashboard</a>
        </li>

        <li>
          <a href="/scdf/1-n/using-the-shell.html">Using the Shell</a>
        </li>
      </ul>
    </li>
  </div>
</div><!--end of sub-nav-->
