<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/scdf/index.html">Spring Cloud Data Flow (Beta)</a>
      </li>

      <li>
        <a href="/scdf/prerequisites.html">Prerequisites</a>
      </li>

      <li>
        <a href="/scdf/installing.html">Installation</a>
      </li>

      <li>
        <a href="/scdf/creating-an-instance.html">Creating an Instance</a>
      </li>

      <li>
        <a href="/scdf/using-the-dashboard.html">Using the Dashboard</a>
      </li>

      <li>
        <a href="/scdf/using-the-shell.html">Using the Shell</a>
      </li>

      <li>
        <a href="/scdf/release-notes.html">Release Notes</a>
      </li>
      
    </ul>
  </div>
</div><!--end of sub-nav-->
